.box1, .box2{
    display: flex;
    align-items: center;
    justify-content: center;
}


.box1 div{
    display: flex;
}

.box2 div{
    background-color: blue;
    margin: 3px;
    height: 200px;
    width: 400px;
    text-align: center;
}
.box1 div{
    background-color: blue;
    margin: 3px;
    height: 400px;
    width: 400px;
    text-align: center;
}

.hero{
    width: 50%;
}

.box2 div, box1 div{
    max-width: 100%;
}

@media only screen and (max-device-width: 580px) 
{
    .boxes, .box1, .box2
    {
        display: block;
    }
    .box1 div{
        display: block;
    }
}